---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% if post.published == false %}
    {% continue %}
  {% endif %}
  <div class="list__item">
    <article class="archive__item">
      <h2 class="archive__item-title">{{ post.title }}</h2>
      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      <div class="archive__item-excerpt">
        {{ post.content | markdownify }}
      </div>
    </article>
  </div>
{% endfor %}
